.title_bar{
    position: absolute;
    top: -95px;
    left: 50%;
    @include transform(translateX(-50%));
    background: $white;
    border-radius: 4px;
    padding: 15px 20px;
    width: 235px;
    text-align: center;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.2);
    @include mq('phone'){
        width: 200px;
    }
}

::-webkit-input-placeholder { /* Edge */
    color: $placeholder;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder;
}

::placeholder {
    color: $placeholder;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px white inset;
}

// Loader
#loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 4;
    background: rgba(0,0,0,0.4);
    height: 100%;
    .img{
        max-width: 100px;
    }
}

.search_info_main {

    #loader{
        min-height: 152px;
        position: absolute;
        background: rgba(146, 142, 142, 0.4);
        svg{
            max-width: 40px;
            height: auto;
        }
    }
}


.react-slidedown {
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}